body{
	background:#DDD;
	color: #444;
}
ul{
	padding:0;
	margin:0;
}
a{text-decoration:none;color: #000;}
a:hover{text-decoration:underline;color: #00F;}

.repo        {background: #FFF;}
.app         {background: #EEF;}

.bloc {
	position: relative;
	display: inline-block;
	width: 15em;
	height: 6em;
	overflow: hidden;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.2);
	margin: 1em;
	font-family: sans-serif;
	padding: 0em 1em 3em;
	transition: .2s all linear;
}
.bloc:hover{
	box-shadow: 0 .1em .3em rgba(0, 0, 0, 1.0);
	transform: scale(1.15);
	z-index: 99;
}
.bloc .name{
	display: block;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	font-size: 2em;
	font-family: "Segoe UI";
}
.bloc .desc{
	display: block;
	font-size: 1em;
}
.bloc .date{
	position: absolute;
	left: 1em;
	bottom: 1em;
}
.bloc .lang{
	position: absolute;
	right: 1em;
	bottom : 1em;
}

@media screen and (max-width: 640px) {
	.bloc .name{font-size: 1em;}
	.bloc .desc,.bloc .date,.bloc .lang{font-size: .5em;}
	.bloc:hover{
		transform: scale(1.25);
	}
	.bloc {
		width: 7em;
		height: 3em;
		margin: .6em;
		padding: 0em .5em 1.5em;
	}
}
