ul{
	padding-left: 1em;
	margin: 0;
}
.type_dir {list-style:disc;}
.type_file{list-style:none;}
.loading{font-style : italic;opacity:0.5;}
.playing{font-style : italic;}
.play{font-weight:bold;}
#player{
	position: fixed;
	right: 0;top: 0;padding:5px;
	background:rgba(0,0,0,0.125);
	border-radius:0 0 0 5px;
	box-shadow: 1px 1px 3px inset;
}
.warning{
	background-color: #FF4400;
	border-radius: 8px;
	box-shadow: 1px 1px 2px;
	left: 45%;
	margin: 5px;
	padding: 5px;
	position: fixed;
	top: 0;
}