@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
*{
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
}
body {
	font-family: "Lucida Grande", Verdana;
}
a{
	text-decoration:none;
	cursor: pointer;
}
#planning{
	background-color: #BF8748;
	background-image: url("chrome://browser/skin/newtab/noise.png"), url("chrome://browser/skin/newtab/noise.png");
	border: 10px ridge #BF8748;
	border-radius: 7px 7px 7px 7px;
	width: 100%;
}
#planning>thead{
}
#planning>thead th{
	box-shadow: 0 10px 10px -11px #000000;
	color: #FFF;
	height: 2em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	width: 25%;
}
#planning>tbody>tr>td{
	vertical-align:top;
	padding-top: 20px;
}
.postitparent{
	display:inline-block;
}
.postit{
	cursor:move;
	background: #FEFABC;
	box-shadow: 0 4px 6px #333333;
	font-family: 'Gloria Hallelujah',cursive;
/*	max-width: 50px;*/
	overflow: hidden;
}
.postit:hover{
	z-index:999;
	transform: rotate(0deg) !important;
  transform: scale(2.25) !important;
}
.detail{
	display:none;
	font-family: "Lucida Grande",Verdana;
	font-size: 0.35em;
	position: fixed;
	top: -8px;
	left: 0;
	padding: 0;
}
.postit:hover .detail{
	display:inline;
}
.container{
	display:inline-block;
	border-collapse: collapse;
}
.container td{
	padding: 0 4px 0 4px;
}
.dragged{
	opacity:0.5;
}