#Osk {border-collapse: collapse;}

.t{}
.b{}
.l{text-align:left;}
.c{text-align:center;}
.r{text-align:right;}
.btn>table{
	width:100%;
	height:100%;
}

.btn{
	border: 1px solid #000000;
	border-radius: 5px;
	display: inline-block;
	height: 3em;
	margin: 0.125em;
	padding: 0;
}
.btn.s1 {
	width: 3em;
}
.btn.s2 {
	width: 3.5em;
}
.btn.s3 {
	width: 4em;
}
.btn.s4 {
	width: 6em;
}
.btn.s5 {
	width: 7em;
}
.btn.s6 {
	width: 24em;
}
