name: CI
on:
  push:
    branches: [ master ]
jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # TODO: inline
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y imagemagick
      - run: make
        env:
          PHOTOS_URL: ${{ secrets.PHOTOS_URL }}
          TRACKS_URL: ${{ secrets.TRACKS_URL }}
      - name: push
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        run: |
         git config user.name  "${GITHUB_ACTOR}"
         git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
         git remote add origin_token "https://x-access-token:${PERSONAL_TOKEN}@github.com/$GITHUB_REPOSITORY.git"
         git checkout -b gh-pages
         git add * # skip dot files
         git commit -m "$(date -u) ${GITHUB_SHA}"
         git push origin_token --force
